:root {
  /* z-index */
  --z-loader: 1100;
  --z-mobile-submenu: 1000;
  --z-mobile-nav: 900;
  --z-fixed-header: 800;
  --z-desktop-submenu: 700;
  --z-modal: 600;
  --z-cookie-banner: 500;
  /* heights */
  --header-height: 48px;
  --breadcrumbs-height: 24px;
  --search-input-height: 42px;
}
