:root {
  /* spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 56px;
  --spacing-5xl: 64px;
  --spacing-6xl: 72px;
  --spacing-7xl: 80px;
  --spacing-8xl: 88px;
  --spacing-9xl: 96px;
  --spacing-xxl: 104px;
  --spacing-2xxl: 112px;
  --spacing-3xxl: 120px;
  --spacing-4xxl: 128px;
  --spacing-5xxl: 136px;
  --spacing-6xxl: 144px;

  /* animation timing functions */
  --linear-curve: cubic-bezier(0, 0, 1, 1);
  --ease-in-curve: cubic-bezier(0.8, 0.2, 0.6, 1);
  --ease-out-curve: cubic-bezier(0.2, 0.8, 0.4, 1);
  --ease-in-out-curve: cubic-bezier(0.4, 0, 0.2, 1);

  // animation speed
  --slow-animation-speed: 600ms;
  --base-animation-speed: 400ms;
  --fast-animation-speed: 200ms;

  /* border-radius */
  --xs-radius: 8px;
  --sm-radius: 16px;
  --base-radius: 24px;
  --md-radius: 32px;
  --lg-radius:40px ;
  --xl-radius: 48px;
}